
* {
    box-sizing: border-box;
}


.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}
  
  /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@media screen and (prefers-reduced-motion: reduce) {
    .typewriter h1 {
      animation: none;
    }
}
  

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}


#logo{
	width: 20%;
	text-decoration: none;
	color: black;
}

nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.main-nav li{
    display:inline;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}
  
nav a{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-decoration: none; 
}

.home {
	opacity: 0.90;

	background-size: cover;
    background-color: #ddd;
	min-height: 750px;
}

.skip a{
    position: absolute;
    top: -40px;
}

.skip a:focus {
    position: absolute;
    top: 20px;
}

.current {
    padding: 0px 5px;
    border: solid black 2px;
    font-weight: bold;
}

div .about {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 30px;
    
}

#pao {
    margin: 20px;

    border: solid 10px #283618;
    width: 80%;
}

.typewriter h1{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5px;
}

p {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text {
    margin: 10px 50px;
}

.gallery{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(32, 5vw);
    grid-gap: 1rem; 
    background-color: #b7b7a4;
}

.gallery > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border: solid 5px #7f5539;
}

.facts {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: #7f5539;
    background: rgb(127, 85, 57, 0.7); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    text-align: center;
}

.facts > .overlay:focus {
    opacity: 1;
}

.facts:hover .overlay {
    opacity: 1;
}

.gallery__img1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}

.gallery__img6 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 22;
    grid-row-end: 29;
}

.gallery__img8 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
}

.gallery__img11 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 10;
}

.gallery__img4 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 22;
    grid-row-end: 26;
}

.gallery__img2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 10;
    grid-row-end: 22;
}

.gallery__img9 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 10;
    grid-row-end: 16;
}

.gallery__img7 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 16;
    grid-row-end: 22;
}

.gallery__img5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 29;
    grid-row-end: 33;
}

.gallery__img3 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 30;
    grid-row-end: 33;
}

.gallery__img10 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 26;
    grid-row-end: 30;
}

#main-photodump h1{
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding-top: 5px;
}

#gallery{
	display: flex;
	flex-flow: nowrap;
	justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 0px 20px;
    background-color: #b7b7a4;
}

#gallery img{
	max-width: 80%;
	margin: 10px;
} 

#gallery img:hover{
    border: #283618 solid 3px;
}

#gallery img:focus{
    border: #283618 solid 3px;
}

#main-photodump ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

#main-photodump ul li{
    list-style: none;
    background: #eee;
    padding: 12px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 80%;
}
#main-photodump ul li.active{
    background: #283618;
    color: #fff;
}

#gallery .image.hide{
    display: none;
}

.slideshow {
    max-width: 100%;
    position: relative;
    margin: auto;
    padding-top: 50px;
    padding: 50px 80px 0px;
}

#main-projects{
    background-color: #b7b7a4;
}

.slides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.8);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    margin-right: 80px;
}

.video{
    display: block;
    max-width: 100%;
    position: relative;
    margin: auto;
	border: 2px solid black;
	margin: 0 auto;
}

.block{
    display: block;
    max-width: 100%;
    position: relative;
    margin: auto;
    padding-bottom: 50px;
    padding: 50px 80px;
}

#main-projects h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 10px;

}


footer{
    padding: 10px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #283618;
    color: #ddd;
    text-decoration: none;
}

.social a{
    padding: 0px 10px;
}

.social i{
    font-size: 18px;
}

.social i:hover{
    font-size: 20px;
}

.social i:focus{
    font-size: 20px;
}

footer p {
    padding: 0px 10px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ddd;
    text-decoration: none;
}

footer a {
    color: #ddd;
    text-decoration: none;
}

footer a:hover {
    color: #ddd;
    text-decoration: underline;

}

footer a:focus {
    color: #ddd;
    text-decoration: underline;

}

@media all and (min-width: 700px){
    #logo{
        width: 8%;
        padding-top: 5px;
        padding-left: 15px;
    }

    nav a{
        font-size: 15px;
    }

    nav {
        display: flex;
        flex-direction: row;
    }
    
    .main-nav {
        padding-right: 10px;
        padding-bottom: 0px;
    }
    
    .main-nav li{
        padding-right: 10px;
        padding-bottom: 0px;
      
    }

    #gallery img{
        max-width: 30%;
    }

    #main-photodump ul li{
        font-size: 100%;
    }

    #main-photodump h1{
        font-size: 22px;
    }
    #main-projects h1 {
        font-size: 20px;
    }

    div .about {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
        justify-content: space-between;   
    }

    #pao {
        width: 30%;
    }

    .text {
        margin-right: 50px;
    }

    .gallery{
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(20, 5vw);
        grid-gap: 1rem; 
        background-color: #b7b7a4;
    }
    
    .gallery > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border: solid 5px #7f5539;
    }
    
    .gallery__img1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 5;
    }
    
    .gallery__img6 {
        grid-column-start: 7;
        grid-column-end: 10;
        grid-row-start: 1;
        grid-row-end: 7;
    }
    
    .gallery__img8 {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 5;
    }
    
    .gallery__img11 {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 5;
        grid-row-end: 9;
    }
    
    .gallery__img4 {
        grid-column-start: 7;
        grid-column-end: 10;
        grid-row-start: 7;
        grid-row-end: 11;
    }
    
    .gallery__img2 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 9;
        grid-row-end: 21;
    }
    
    .gallery__img9 {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 9;
        grid-row-end: 15;
    }
    
    .gallery__img7 {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 15;
        grid-row-end: 21;
    }
    
    .gallery__img5 {
        grid-column-start: 7;
        grid-column-end: 10;
        grid-row-start: 11;
        grid-row-end: 14;
    }
    
    .gallery__img3 {
        grid-column-start: 7;
        grid-column-end: 10;
        grid-row-start: 14;
        grid-row-end: 17;
    }
    
    .gallery__img10 {
        grid-column-start: 7;
        grid-column-end: 10;
        grid-row-start: 17;
        grid-row-end: 21;
    }
    
}

@media all and (min-width: 900px){
    #logo{
        width: 8%;
        padding-top: 5px;
        padding-left: 15px;
    }

    nav a{
        font-size: 15px;
    }

    nav {
        display: flex;
        flex-direction: row;
    }
    
    .main-nav {
        padding-right: 10px;
        padding-bottom: 0px;
    }
    
    .main-nav li{
        padding-right: 10px;
        padding-bottom: 0px;
      
    }

    #gallery img{
        max-width: 23%;
        margin: 10px;
    }

    #main-photodump h1{
        font-size: 25px;
    }

    #main-projects h1 {
        font-size: 23px;
    }

    div .about {
        margin: 0px 80px;
        padding: 20px 0px 0px 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
        justify-content: space-between;   
    }

    #pao {
        width: 30%;
    }

    .text {
        margin-right: 50px;
    }

    .gallery{
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(14, 5vw);
        grid-gap: 1rem; 
        background-color: #b7b7a4;
    }
    
    .gallery > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border: solid 5px #7f5539;
    }
    
    .gallery__img1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 5;
    }
    
    .gallery__img6 {
        grid-column-start: 10;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 6;
    }
    
    .gallery__img8 {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 5;
    }
    
    .gallery__img11 {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 5;
        grid-row-end: 9;
    }
    
    .gallery__img5 {
        grid-column-start: 10;
        grid-column-end: 13;
        grid-row-start: 6;
        grid-row-end: 12;
    }
    
    .gallery__img2 {
        grid-column-start: 7;
        grid-column-end: 10;
        grid-row-start: 1;
        grid-row-end: 7;
    }
    
    .gallery__img9 {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 9;
        grid-row-end: 15;
    }
    
    .gallery__img7 {
        grid-column-start: 7;
        grid-column-end: 10;
        grid-row-start: 10;
        grid-row-end: 15;
    }
    
    .gallery__img4 {
        grid-column-start: 7;
        grid-column-end: 10;
        grid-row-start: 7;
        grid-row-end: 10;
    }
    
    .gallery__img3 {
        grid-column-start: 10;
        grid-column-end: 13;
        grid-row-start: 12;
        grid-row-end: 15;
    }
    
    .gallery__img10 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 9;
        grid-row-end: 15;
    }
}


























