<span class="navbar-toggle" id="js-navbar-toggle">
                    <i class="fas fa-bars"></i>
                   </span>



nav{
    background-color: #ddd;
    padding: 25px 0; 
    text-align: right;
    font-family: 'Josefin Sans';
    display: flex;
  }



nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

nav li{
    display:inline;
    padding-right:20px;
  
}
  
nav a{
    color: black;
    font-weight: bold;
    text-decoration: none; 
}


@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    .skip a{
      -webkit-transition: none; /* sets to default setting */
      transition: none;        /* sets to default setting */
     }
  
  }